.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.space {
  height: 400px;
  width: 400px;
  border: 2px solid;
  position: relative;
}
.spaceship {
  width: 40px;
  height: 40px;
  position: absolute;
}
.spaceship-logo {
  height: auto;
  width: 50px;
}

.spaceship-logo {
  animation: spaceship-logo-spin infinite 2s linear;
}
@keyframes spaceship-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
